aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
asynctest==0.13.0
attrs==23.1.0
black==23.3.0
build==0.10.0
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
cozmo==1.4.10
-e git+https://github.com/vnoelifant/cozmo-companion@48d45b58de68b2e36d793d756ca8346733a04270#egg=cozmo_companion
cozmoclad==3.4.0
frozenlist==1.3.3
ibm-cloud-sdk-core==3.16.5
ibm-watson==7.0.0
idna==3.4
importlib-metadata==6.6.0
isort==5.11.5
markdown-it-py==2.2.0
mdurl==0.1.2
multidict==6.0.4
mypy-extensions==1.0.0
numpy==1.21.6
openai==0.27.7
packaging==23.1
pathspec==0.11.1
Pillow==9.5.0
platformdirs==3.5.0
PyAudio==0.2.13
Pygments==2.15.1
PyJWT==2.6.0
pyproject_hooks==1.0.0
python-dateutil==2.8.2
python-decouple==3.8
requests==2.28.2
rich==13.3.5
shellingham==1.5.0.post1
six==1.16.0
tomli==2.0.1
tqdm==4.65.0
typed-ast==1.5.4
typer==0.9.0
typing_extensions==4.5.0
urllib3==1.26.15
websocket-client==1.1.0
yarl==1.9.2
zipp==3.15.0
